a {
    text-decoration: none;
    color: #3b5998;
    outline: 0;
}

ul {
    margin: 0 auto;
    padding: 0;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

body {
    font: 12px/1.5 "\5B8B\4F53", arial, tahoma, sans-serif;
    /*font: 12px Tahoma;*/
    margin: 0px;
    text-align: center;
    background: #FFF;
}

.container {
    width: 100%;
    padding: 2px;
}

.before-header {
    margin: 0 auto;
    width: 80%;
    height: 20px;
    background-color: black;
}

header {
    width: 80%;
    margin: 0 auto;
    height: 90px;
    background-image: url(../image/bunder.jpg);
    background-size: cover;
    /*background-color: #E2DDAC;*/
}

.search-box input {
    float: left;
    height: 94%;
    width: 70%;
    font-size: 20px;
    /*font-style: oblique;*/
    color: darkgray;
    border: 0;
    margin: 0 auto;
    outline: 0;
    margin-left: 5%;
}

.search-box button {
    display: block;
    width: 10%;
    height: 100%;
    float: right;
    border: 0;
    background-color: #FDDA04;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    outline: 0;
}

.search {
    width: 94%;
    height: 40%;
    border-left: 2px solid #FDDA04;
    border-top: 2px solid #FDDA04;
    border-bottom: 2px solid #FDDA04;
    margin: 3%;
    background-color: white;
}

.search img {
    float: left;
    height: 70%;
    display: block;
    padding-left: 5px;
    padding-top: 1%;
}

.advertising-left {
    float: left;
    width: 10%;
    height: 500px;
    /*background-color: blueviolet;*/
}

.advertising-right {
    float: right;
    width: 10%;
    height: 500px;
    /*background-color: blueviolet;*/
}

.page-body {
    width: 80%;
    margin: 0 auto;
    /*height: 400px;*/
    /*background: #CCFF00;*/
}

.imgForm {
    float: left;
    height: 250px;
    border-bottom: 10px solid #FDFDFF;
    margin-right: 1%;
    width: 19%;
    background-color: beige;
}

.textForm {
    height: 190px;
    /*background-color: #007aff;*/
}

.textForm .inputImg {
    display: block;
    padding-top: 40px;
    /* padding-right: 10px; */
    width: 100%;
}

.textForm select {
    margin-top: 130px;
}

.textForm img {
    height: 190px;
    width: 200px;
}

.textForm .img {
    width: 100%;
}

.imgForm button {
    width: 100px;
    height: 80px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

.imgForm input {
    display: block;
    float: left;
}

.imgForm select {
    display: block;
    float: left;
}

.totalNum {
    display: block;
    margin-top: 30px;
    font-size: 30px;
}