<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
    <link rel="stylesheet" type="text/css" href="style/swiper.min.css"/>
    <script type="text/javascript" src="lib/jquery.js"></script>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/backbone.js"></script>
    <script type="text/javascript" src="lib/backbone.paginator.js"></script>
    <script type="text/javascript" src="lib/swiper.js"></script>
</head>
<body>
<div class="container">
    <!--<div class="before-header">-->

    <!--</div>-->
    <header>
        <div class="title-box">
            <span>子杰汽车配件专卖</span>
        </div>
        <div class="search-box">
            <div class="search">
                <img src="image/search.png">
                <input id="searchPar" type="text" placeholder="奥迪 A6L 2014 左大灯(查询条件请以空格分开)"/>
                <button id="searchAccessory">搜索</button>
            </div>

        </div>
        <div class="login-box">
            <span id="login">管理登陆</span>
        </div>
    </header>
    <div class="advertising">
        <div class="advertising-left"></div>
        <div class="advertising-right"></div>
    </div>
    <div class="page-body">
        <div class="search-condition">
            <div class="search-model-img">
                <div class="search-header">
                    <span class="search-class-img">品牌</span>
                </div>
                <div class="arrow_left arrow_left_img left-brand">
                    <a href="#"><img src="image/arrow_left.png"></a>
                </div>
                <div class="swiper-container" style="width: 80%; float: left; margin-left: 2%;">
                    <div class="swiper-wrapper search-info" id="brand-list">
                        <script type="text/template" id="brandTemplate">
                            <a>
                                <img src="<%=barndImg%>">
                            </a>
                        </script>
                    </div>
                </div>
                <div class="arrow_right arrow_right_img right-brand">
                    <a href="#"><img src="image/arrow_right.png"></a>
                </div>
            </div>
            <div class="search-model">
                <div class="search-header">
                    <span class="search-class">车型</span>
                </div>
                <div class="arrow_left left-model">
                    <a href="#"><img src="image/arrow_left.png"></a>
                </div>
                <div class="swiper-container-model"
                     style="float: left;overflow: hidden;width: 80%;margin-top: 0.5%; margin-left: 2%;">
                    <div class="swiper-wrapper" id="model-list">
                        <script type="text/template" id="modelTemplate">
                            <a href="#" name="model"><%=modelName%></a>
                        </script>
                        <!--<span class="swiper-slide"><a href="#">奥迪A4L</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">奥迪A6L</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">奥迪S5</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">奥迪A1</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">奥迪A4</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">奥迪Q3</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">奥迪A4L</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">奥迪A6L</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">奥迪S5</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">奥迪A1</a></span>-->
                        <!--<ul>-->
                        <!--<li class="info-class"><a href="#">奥迪A4L</a></li>-->
                        <!--<li class="menuDiv"></li>-->
                        <!--<li class="info-class"><a href="#">奥迪A6L</a></li>-->
                        <!--<li class="menuDiv"></li>-->
                        <!--<li class="info-class"><a href="#">奥迪S5</a></li>-->
                        <!--<li class="menuDiv"></li>-->
                        <!--<li class="info-class"><a href="#">奥迪A1</a></li>-->
                        <!--<li class="menuDiv"></li>-->
                        <!--<li class="info-class"><a href="#">奥迪A4</a></li>-->
                        <!--<li class="menuDiv"></li>-->
                        <!--<li class="info-class"><a href="#">奥迪Q3</a></li>-->
                        <!--<li class="menuDiv"></li>-->
                        <!--<li class="info-class"><a href="#">奥迪Q3</a></li>-->
                        <!--<li class="menuDiv"></li>-->
                        <!--<li class="info-class"><a href="#">奥迪Q3</a></li>-->
                        <!--</ul>-->
                    </div>
                </div>
                <div class="arrow_right right-model">
                    <a href="#"><img src="image/arrow_right.png"></a>
                </div>
            </div>
            <div class="search-model">
                <div class="search-header"><span class="search-class">款式</span></div>
                <div class="arrow_left left-style">
                    <a href="#"><img src="image/arrow_left.png"></a>
                </div>
                <div class="swiper-container-style"
                     style="float: left;overflow: hidden;width: 80%;margin-top: 0.5%; margin-left: 2%;">
                    <div class="swiper-wrapper" id="modelStyle-list">
                        <script type="text/template" id="modelStyleTemplate">
                            <a href="#" name="style"><%=styleName%></a>
                        </script>
                        <!--<span class="swiper-slide"><a href="#">2011款</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">2013款</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">2015款</a></span>-->
                        <!--<ul>-->
                        <!--<li class="info-class"><a href="#">2011款</a></li>-->
                        <!--<li class="menuDiv"></li>-->
                        <!--<li class="info-class"><a href="#">203款</a></li>-->
                        <!--<li class="menuDiv"></li>-->
                        <!--<li class="info-class"><a href="#">2015款</a></li>-->
                        <!--</ul>-->
                    </div>
                </div>
                <div class="arrow_right right-style">
                    <a href="#"><img src="image/arrow_right.png"></a>
                </div>
            </div>
            <div class="search-model">
                <div class="search-header"><span class="search-class">部件</span></div>
                <div class="arrow_left left-part">
                    <a href="#"><img src="image/arrow_left.png"></a>
                </div>
                <div class="swiper-container-part"
                     style="float: left;overflow: hidden;width: 80%;margin-top: 0.5%; margin-left: 2%;">
                    <div class="swiper-wrapper" id="part-list">
                        <script type="text/template" id="partTemplate">
                            <a href="#" name="part"><%=partName%></a>
                        </script>
                        <!--<span class="swiper-slide"><a href="#">左前大灯</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">前保险杠</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">左前叶子板</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">左前大灯</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">前保险杠</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">左前大灯</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">左前叶子板</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">左前大灯</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">左前大灯</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">左前大灯</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">左前大灯</a></span>-->
                        <!--<span class="swiper-slide"><a href="#">左前大灯</a></span>-->
                        <!--<ul>-->
                        <!--<li class="info-class"><a href="#">左前大灯</a></li>-->
                        <!--<li class="info-class"><a href="#">前保险杠</a></li>-->
                        <!--<li class="info-class"><a href="#">左前叶子板</a></li>-->
                        <!--<li class="info-class"><a href="#">左前大灯</a></li>-->
                        <!--<li class="info-class"><a href="#">前保险杠</a></li>-->
                        <!--<li class="info-class"><a href="#">左前叶子板</a></li>-->
                        <!--<li class="info-class"><a href="#">左前叶子板</a></li>-->
                        <!--</ul>-->
                    </div>
                </div>
                <div class="arrow_right right-part">
                    <a href="#"><img src="image/arrow_right.png"></a>
                </div>
            </div>
        </div>
        <div class="search-result">
            <div class="result-title">
                <span>搜索结果：</span>

                <div class="level-assortment">
                    <span>级别筛选</span>
                    <span id="level-a"><a href="#">A级</a></span>
                    <span id="level-b"><a href="#">B级</a></span>
                    <span id="level-c"><a href="#">C级</a></span>
                    <span id="reset"><img src="image/reset.png" style="width: 23px;"/></span>
                </div>
            </div>
            <div class="img-list" id="accessory-list">
                <script type="text/template" id="accessoryTemplate">
                    <img src="<%=accessoryImg%>">
                    <span><%=accessoryName%></span><br>
                    <%if (level == 1) {%>
                    <span class="level-a">A级</span><br>
                    <% } %>
                    <%if (level == 2) {%>
                    <span class="level-b">B级</span><br>
                    <% } %>
                    <%if (level == 3) {%>
                    <span class="level-c">C级</span><br>
                    <% } %>
                    <span>编号：</span><%=accessoryNum%>
                </script>
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/100000.jpg">-->
                    <!--<span>奥迪A6L 2015款 右前叶子板</span><br>-->
                    <!--<span class="level-a">A级</span><br>-->
                    <!--<span>编号：</span>00000001-->
                <!--</div>-->
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/200000.jpg">-->
                    <!--<span>奥迪A6L 2015款 前保险杠</span><br>-->
                    <!--<span class="level-b">B级</span><br>-->
                    <!--<span>编号：</span>00000002-->
                <!--</div>-->
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/300000.jpg">-->
                    <!--<span>奥迪A6L 2015款 左前大灯</span><br>-->
                    <!--<span class="level-c">C级</span><br>-->
                    <!--<span>编号：</span>00000003-->
                <!--</div>-->
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/300000.jpg">-->
                    <!--<span>奥迪A6L 2015款 左前大灯</span><br>-->
                    <!--<span class="level-c">C级</span><br>-->
                    <!--<span>编号：</span>00000003-->
                <!--</div>-->
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/300000.jpg">-->
                    <!--<span>奥迪A6L 2015款 左前大灯</span><br>-->
                    <!--<span class="level-c">C级</span><br>-->
                    <!--<span>编号：</span>00000003-->
                <!--</div>-->
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/300000.jpg">-->
                    <!--<span>奥迪A6L 2015款 左前大灯</span><br>-->
                    <!--<span class="level-b">B级</span><br>-->
                    <!--<span>编号：</span>00000003-->
                <!--</div>-->
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/300000.jpg">-->
                    <!--<span>奥迪A6L 2015款 左前大灯</span><br>-->
                    <!--<span class="level-c">C级</span><br>-->
                    <!--<span>编号：</span>00000003-->
                <!--</div>-->
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/300000.jpg">-->
                    <!--<span>奥迪A6L 2015款 左前大灯</span><br>-->
                    <!--<span class="level-a">A级</span><br>-->
                    <!--<span>编号：</span>00000003-->
                <!--</div>-->
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/300000.jpg">-->
                    <!--<span>奥迪A6L 2015款 左前大灯</span><br>-->
                    <!--<span class="level-a">A级</span><br>-->
                    <!--<span>编号：</span>00000003-->
                <!--</div>-->
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/300000.jpg">-->
                    <!--<span>奥迪A6L 2015款 左前大灯</span><br>-->
                    <!--<span class="level-c">C级</span><br>-->
                    <!--<span>编号：</span>00000003-->
                <!--</div>-->
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/300000.jpg">-->
                    <!--<span>奥迪A6L 2015款 左前大灯</span><br>-->
                    <!--<span class="level-a">A级</span><br>-->
                    <!--<span>编号：</span>00000003-->
                <!--</div>-->
                <!--<div class="part-detial">-->
                    <!--<img src="../image/part-img/300000.jpg">-->
                    <!--<span>奥迪A6L 2015款 左前大灯</span><br>-->
                    <!--<span class="level-b">B级</span><br>-->
                    <!--<span>编号：</span>00000003-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="script/constants.js"></script>
<script type="text/javascript" src="script/model/brand.js"></script>
<script type="text/javascript" src="script/model/model.js"></script>
<script type="text/javascript" src="script/model/modelStyle.js"></script>
<script type="text/javascript" src="script/model/part.js"></script>
<script type="text/javascript" src="script/model/accessory.js"></script>
<script type="text/javascript" src="script/collection/brandCollection.js"></script>
<script type="text/javascript" src="script/collection/modelCollection.js"></script>
<script type="text/javascript" src="script/collection/modelStyleCollection.js"></script>
<script type="text/javascript" src="script/collection/partCollection.js"></script>
<script type="text/javascript" src="script/collection/accessoryCollection.js"></script>
<script type="text/javascript" src="script/view/brand/brandView.js"></script>
<script type="text/javascript" src="script/view/model/modelView.js"></script>
<script type="text/javascript" src="script/view/part/partView.js"></script>
<script type="text/javascript" src="script/view/accessory/accessoryView.js"></script>
<script type="text/javascript" src="script/view/modelStyle/modelStyleView.js"></script>
<script type="text/javascript" src="script/view/brand/brandCollectionView.js"></script>
<script type="text/javascript" src="script/view/model/modelCollectionView.js"></script>
<script type="text/javascript" src="script/view/modelStyle/modelStyleCollectionView.js"></script>
<script type="text/javascript" src="script/view/part/partCollectionView.js"></script>
<script type="text/javascript" src="script/view/accessory/accessoryCollectionView.js"></script>
<script type="text/javascript" src="script/router.js"></script>
<script>
    var router = new Router();
    Backbone.history.start();
    $('#level-a').on('click', function() {
        $('.level-a').parent().show();
        $('.level-b').parent().hide();
        $('.level-c').parent().hide();
    });
    $('#level-b').on('click', function() {
        $('.level-b').parent().show();
        $('.level-a').parent().hide();
        $('.level-c').parent().hide();
    });
    $('#level-c').on('click', function() {
        $('.level-c').parent().show();
        $('.level-b').parent().hide();
        $('.level-a').parent().hide();
    });
    $('#reset').on('click', function() {
        $('.level-a').parent().show();
        $('.level-b').parent().show();
        $('.level-c').parent().show();
    });
    $('#login').on('click', function(){
        window.location.href = 'login.html';
    });
</script>
</html>